{% include './partials/header.twig' %}
<div class="custom-home-first ">
  <div class="title">
    <h1>Alban Delachaume</h1>
    <h2>French Designer</h2>
  </div>
  <div class="scroll">
    <span class="text-uppercase ">scroll to discover</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2> my project</h2>
  </div>

  {% for key , project in projects %}

    {% if key%2 == 0  %}
      <div class="row">
        <a class="link-project" href="{{path_for('works', {'name': project.name|replace({' ': "_"})} ) }}"> 
          <div class="col-sm">
            <img src="{{project.intro_img}}" alt="">
            <h3>{{project.name}}</h3>
            <h4>{{project.role}}</h4>
        
        </a>
      </div>

    {% endif %}
    {% if key%2 != 0  %}
        <div class="col-sm">
          <a class="link-project" href="{{path_for('works', {'name': project.name|replace({' ': "_"})} ) }}"> 
              <img src="{{project.intro_img}}" alt="">
              <h3>{{project.name}}</h3>
              <h4>{{project.role}}</h4>
          </a>
        </div>
      </div>
    {% endif %}

  {% endfor %}
  </div>
  <div class=" contact" id="contact" >

      <div class="hello">
        <span>say</span>
        <span>hello</span>
      </div>
      
      <div class="inputs">
        <label>
          Mail :
          <input type="mail" class="mail">
        </label>
        <label>
          Hey Alban, I'm 
          <textarea name="" id="" cols="10" rows="1" palceholder="..."></textarea>
        </label>
      </div>

      <div class="send-button">
        <input class="submit" type="submit" value="SEND">
      </div>

    </div>

<script src="{{ base_url() ~ "/assets/scripts/app.js"}}"></script>
{% include './partials/footer.twig' %}